@page  { 
    margin: 0;
    padding: 0;
}

.container.print{
    width: 20cm;    /*width of A4 paper is 21 cm but we need to account for padding */
    height: 27.7cm; /*height of A4 paper is 29.7 cm but we need to account for padding */
    margin: 0 auto;
    padding: 1cm .5cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: none !important; 
}
.container.print a{
    text-decoration: underline;
}
.container.print table.section td{
    border: none !important;
}
.container.print table.section thead{
    border-top: 1px solid #444 !important;
    border-bottom: 1px solid #999 !important;
}
.container.print .top-border-only{
    border: none;
    border-top:1px;
}
.container.print .wide-middle span{
    position: relative;
    width: 460px;
    left: -50%;
    display: inline-block;
}