@page  { 
    margin: 1cm;
    size: A4;
    @top-center{
        content: element(header);
    }
    @bottom-center{
        content: "1";
    }
}
@media print{    
    body{
        margin:0 !important;
    }
    .container.print > header {
        display: table-header-group;
    }
    .container.print > main {
        display: table-row-group;
    }
    .container.print > footer {
        display: table-footer-group;
    }
}
body{
    margin: 1cm 0;
}
.container.print{
    width: 20cm;    /*width of A4 paper is 21 cm but we need to account for padding */
    /*height: 27.7cm; height of A4 paper is 29.7 cm but we need to account for padding */
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: none !important; 
}
.container.print a{
    text-decoration: underline;
}
.container.print table.section td{
    border: none !important;
    padding: .2rem .3rem;
}
.container.print table.section thead{
    border-top: 3px solid #444 !important;
}
.container.print table.section tr{
    border-top: 2px solid #CCC !important;
}
.container.print .top-border-only{
    border: none;
    border-top:1px;
}
.container.print .wide-middle span{
    position: relative;
    width: 460px;
    left: -50%;
    display: inline-block;
}
.container.print .subsection ul{
    margin-bottom: 0px;
}
.container.print .header-aside{
    font-weight: normal;
}
.container.print .table-sm{
    margin-bottom: 0!important;
}
.fa.fa-github {
    font-size: larger;
    line-height: 0px !important;
    color: #000;
    vertical-align: middle;
    margin-right: 4px;
}
thead{
    page-break-after: avoid;
}
tr, .row{
    page-break-inside: avoid;
}
.text-letter-spacing-1px{
    letter-spacing: 1px;
}